.markdown {
  
  h1 {
    font-size: 1.85rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before {
    @apply text-neutral-400;
  }

  h2:before {
    content: "## ";
  }

  h3:before {
    content: "### ";
  }

  h4:before {
    content: "#### ";
  }

  h5:before {
    content: "##### ";
  }

  h6:before {
    content: "###### ";
  }

  @media(width >= 768px) {
    padding-left: 5rem;

    h2:before {
        content: "##";
        margin-left: -1.75rem;
        margin-right: 0.5rem;
    }

    h3:before {
      content: "###";
      margin-left: -2.5rem;
      margin-right: 0.5rem;
    }

    h4:before {
      content: "####";
      margin-left: -3.25rem;
      margin-right: 0.5rem;
    }

    h5:before {
      content: "#####";
      margin-left: -4rem;
      margin-right: 0.5rem;
    }

    h6:before {
      content: "######";
      margin-left: -4.75rem;
      margin-right: 0.5rem;
    }
  }

  p {
    @apply my-4;
    @apply leading-7;
  }

  blockquote {
    font-size: 0.875rem;
    margin-left: 1.5rem;
    padding-left: 1rem;
    border-left: solid;
    color: rgb(82 82 82);
    border-color: rgb(82 82 82);
  }

  a {
    @apply font-bold text-blue-600;
    /* @apply underline underline-offset-4 decoration-wavy decoration-neutral-400; */
    @apply decoration-wavy;
    @apply hover:underline hover:decoration-blue-600;
  }

  img {
    @apply p-8;
    @apply my-8 mx-auto;
    @apply border border-neutral-600;
    border-radius: 4px;
  }

  li {
    @apply my-2;
  }

  ul,
  ol {
    @apply list-disc;
    padding-left: 1.5rem;
  }

  :not(li) > ul,
  :not(li) > ol {
    @apply my-4;
  }

  ul[class="contains-task-list"] {
    list-style-type: none;
  }

  :not(li) > ul[class="contains-task-list"] {
    padding-left: 0.25rem;
  }

  table {
    margin: 1.5rem 0;

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  table tr {
    border-bottom: solid 1px #eee;
  }

  table tr:hover {
    @apply bg-neutral-200;
  }

  table th {
    font-weight: 900;
    /* @apply bg-blue-500 text-white; */
    @apply bg-black text-white;
  }

  table th,
  table td {
    padding: 0.5rem 1rem;
  }

  figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  pre {
    font-family: var(--font-mono);
    @apply text-xs;
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: 4px;
    border: solid 0.5px;
    margin: 1.5rem 0;
  }

  pre [data-line] {
    padding: 0 1rem;
  }

  span[data-highlighted-line] {
    @apply bg-neutral-200;
  }

  mark[data-highlighted-chars] {
    @apply p-0.5;
    @apply underline underline-offset-2 decoration-wavy decoration-green-600;
    @apply bg-transparent;
  }

  pre:has(span[class="katex-display"]) {
    border: none;
  }

  :not(pre) > code {
    font-family: var(--font-mono), monospace;
    @apply tracking-tighter;
    /* color: #ec4899; */
    @apply text-red-600 bg-red-50;
    @apply drop-shadow-sm;
    @apply py-0 px-1;
  }

  :not(pre) > code[class*="language-math"] {
    color: black;
  }

  code {
    counter-reset: line;
  }

  pre > code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }
}
